<div class="status-facts ps-2 pe-2">
  <div class="row">
    <div class="col-7 fw-500">Top 3 Facts
    </div>
    <div class="col-5 text-end">
      <mat-icon aria-hidden="false" class="open-in-new" aria-label="Open in new">open_in_new</mat-icon>
    </div>
  </div>
  <mat-divider class="pb-2"></mat-divider>
  <div class="row pb-3">
    <div class="col-2 text-end pt-2">
      <mat-icon aria-hidden="false" class="status" aria-label="error">error</mat-icon>
    </div>
    <div class="col-10 pt-2">
      <ul class="list-status ps-0">
        <li>Suite Room</li>
        <li>King Bed</li>
        <li>Highest Floor</li>
      </ul>
    </div>
  </div>
</div>
