<div class="status-facts ps-2 pe-2">
  <div class="row">
    <div class="col-10 fw-bold">RFM Score
    </div>
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="open-in-new" aria-label="Open in new">open_in_new</mat-icon>
    </div>
  </div>
  <mat-divider class="pb-2"></mat-divider>
  <div class="row pt-2 pb-3 ps-2">
    <div class="col-1">
      <mat-progress-spinner
        [color]="color"
        [mode]="mode"
        [value]="value"
        [diameter]="30">
      </mat-progress-spinner>
    </div>
    <div class="col-11 ps-4">
      <ul class="list-rfm ps-0">
        <li>R: 70%</li>
        <li>F: 50%</li>
        <li>M: 90%</li>
      </ul>
    </div>

  </div>
</div>
