<div class="status-facts ps-2 pe-2">
  <div class="row">
    <div class="col-7 fw-500">RFM Score
    </div>
    <div class="col-5 text-end">
      <mat-icon aria-hidden="false" class="open-in-new" aria-label="Open in new">open_in_new</mat-icon>
    </div>
  </div>
  <mat-divider class="pb-2"></mat-divider>
  <div class="row pt-2 pb-3 ps-2">
    <div class="col-1">
      <mat-progress-spinner
        [color]="color"
        [mode]="mode"
        [value]="value"
        [diameter]="30"
        aria-label="Rating">
      </mat-progress-spinner>
      <div class="spinner-progress">{{quickFacts.rfmScore.total}}%</div>
    </div>
    <div class="col-11 ps-4">
      <ul class="list-rfm ps-0">
        <li>R: {{quickFacts.rfmScore.r}}%</li>
        <li>F: {{quickFacts.rfmScore.f}}%</li>
        <li>M: {{quickFacts.rfmScore.m}}%</li>
      </ul>
    </div>

  </div>
</div>
