<div class="status-facts ps-2 pe-2">
  <div class="row">
    <div class="col-10 fw-bold">Other Facts
    </div>
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="open-in-new" aria-label="Open in new">open_in_new</mat-icon>
    </div>
  </div>
  <mat-divider class="pb-2"></mat-divider>
  <div class="row pt-2">
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="status" aria-label="date_range">date_range</mat-icon>
    </div>
    <div class="col-5">
      Total Stays:
    </div>
    <div class="col-5 fw-bold">
      24
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="status" aria-label="nights_stay">nights_stay</mat-icon>
    </div>
    <div class="col-5">
      Nights:
    </div>
    <div class="col-5 fw-bold">
      32
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="status" aria-label="king_bed">king_bed</mat-icon>
    </div>
    <div class="col-5">
      Avg Stay:
    </div>
    <div class="col-5 fw-bold">
      1.33 nights
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="status" aria-label="login">login</mat-icon>
    </div>
    <div class="col-5">
      Last Visit:
    </div>
    <div class="col-5 fw-bold">
      2018-08-15
    </div>
  </div>
  <div class="row pt-2 pb-2">
    <div class="col-2 text-end">
      <mat-icon aria-hidden="false" class="status" aria-label="payments">payments</mat-icon>
    </div>
    <div class="col-5">
      Lifetime Value:
    </div>
    <div class="col-5 fw-bold">
      $3084.29
    </div>
  </div>
</div>
