/* You can add global styles to this file, and also import other style files */

body
  background: #f5f5f5

.th-right
  text-align: right !important

.clickable:hover
  cursor: pointer

.mat-form-field-prefix
  padding-left: 1rem
  padding-right: 1rem

.mat-form-field-flex
  align-items: flex-end !important
